DATABASE_URL="postgresql://postgres:password@localhost:5432/treasure-hunters"

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET="DCNmboP6ZrGxj7WjwNwkOA0e1rugd24Vr2k94m30YCk="
